--
-- PostgreSQL database dump
--

\restrict HKIY8DgGKMD4Ml9n66uqvP0xVUlmZ4Np6DHjMY4X4FRgXZCA3Qifug0BXDv71qF

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: prevent_silent_remap(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_silent_remap() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Only check if category is changing

    IF OLD.master_category_id != NEW.master_category_id 

       AND NEW.manually_corrected = FALSE 

       AND OLD.mapping_confidence > 0.70 THEN

        

        -- Log change request

        INSERT INTO mapping_change_requests (

            store_id,

            store_item_id,

            old_category,

            new_category,

            old_confidence,

            new_confidence,

            change_reason,

            requires_approval,

            requested_by

        ) VALUES (

            NEW.store_id,

            NEW.store_item_id,

            OLD.master_category_id,

            NEW.master_category_id,

            OLD.mapping_confidence,

            NEW.mapping_confidence,

            'Automatic remapping attempt',

            TRUE,

            'system'

        );

        

        RAISE EXCEPTION 'High-confidence category change requires approval. Request ID logged.';

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.prevent_silent_remap() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

--
-- Name: validate_onboarding_batch(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_onboarding_batch(p_batch_id uuid) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_total_items INT;

    v_mapped_items INT;

    v_avg_confidence DECIMAL;

    v_critical_errors INT;

BEGIN

    -- Check 1: All items have SKU registry entry

    SELECT COUNT(*) INTO v_total_items

    FROM onboarding_handoff

    WHERE onboarding_batch_id = p_batch_id;

    

    SELECT COUNT(*) INTO v_mapped_items

    FROM store_sku_registry

    WHERE onboarding_batch_id = p_batch_id;

    

    IF v_mapped_items < v_total_items THEN

        RAISE EXCEPTION 'Missing SKU registry entries: % mapped out of %', v_mapped_items, v_total_items;

    END IF;

    

    -- Check 2: Average confidence not too low

    SELECT AVG(mapping_confidence) INTO v_avg_confidence

    FROM store_sku_registry

    WHERE onboarding_batch_id = p_batch_id;

    

    IF v_avg_confidence < 0.50 THEN

        RAISE WARNING 'Low average confidence: %', v_avg_confidence;

    END IF;

    

    -- Check 3: No critical errors

    SELECT COUNT(*) INTO v_critical_errors

    FROM mapping_audit_trail

    WHERE onboarding_batch_id = p_batch_id

      AND flags @> '["CRITICAL_ERROR"]'::jsonb;

    

    IF v_critical_errors > 0 THEN

        RAISE EXCEPTION 'Critical errors found: %', v_critical_errors;

    END IF;

    

    RETURN TRUE;

END;

$$;


ALTER FUNCTION public.validate_onboarding_batch(p_batch_id uuid) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_keys (
    api_key_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    key_hash character varying(255) NOT NULL,
    key_prefix character varying(20) NOT NULL,
    key_type character varying(20) DEFAULT 'connector'::character varying NOT NULL,
    permissions text[],
    is_active boolean DEFAULT true,
    expires_at timestamp without time zone,
    last_used_at timestamp without time zone,
    usage_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by uuid,
    revoked_at timestamp without time zone,
    revoked_by uuid,
    revoke_reason text,
    CONSTRAINT api_keys_key_type_check CHECK (((key_type)::text = ANY ((ARRAY['connector'::character varying, 'webhook'::character varying, 'integration'::character varying])::text[])))
);


ALTER TABLE public.api_keys OWNER TO postgres;

--
-- Name: brand_registry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brand_registry (
    brand_id uuid DEFAULT gen_random_uuid() NOT NULL,
    brand_name character varying(100) NOT NULL,
    first_discovered_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    total_stores_using integer DEFAULT 1,
    is_verified boolean DEFAULT false,
    verified_by character varying(100),
    verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.brand_registry OWNER TO postgres;

--
-- Name: catalog_migration_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_migration_audit (
    id integer NOT NULL,
    store_id text NOT NULL,
    store_item_id text NOT NULL,
    old_category_id text,
    old_category_path text,
    new_category_id text,
    new_category_path text,
    migration_reason text,
    migrated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.catalog_migration_audit OWNER TO postgres;

--
-- Name: catalog_migration_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.catalog_migration_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.catalog_migration_audit_id_seq OWNER TO postgres;

--
-- Name: catalog_migration_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.catalog_migration_audit_id_seq OWNED BY public.catalog_migration_audit.id;


--
-- Name: catalog_version_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_version_log (
    version character varying(20) NOT NULL,
    version_type character varying(10) NOT NULL,
    released_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deprecated_at timestamp without time zone,
    catalog_blob_path character varying(1000),
    catalog_checksum character varying(64),
    breaking_changes boolean DEFAULT false,
    migration_required boolean DEFAULT false,
    migration_script_path character varying(1000),
    total_categories integer,
    total_products integer,
    changelog text,
    CONSTRAINT catalog_version_log_version_type_check CHECK (((version_type)::text = ANY ((ARRAY['major'::character varying, 'minor'::character varying, 'patch'::character varying])::text[])))
);


ALTER TABLE public.catalog_version_log OWNER TO postgres;

--
-- Name: incremental_delta_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incremental_delta_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    raw_data jsonb NOT NULL,
    queued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed boolean DEFAULT false,
    processed_at timestamp without time zone,
    batch_id uuid
);


ALTER TABLE public.incremental_delta_queue OWNER TO postgres;

--
-- Name: inventory_ai_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_ai_runs (
    run_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    status character varying(20) DEFAULT 'running'::character varying,
    total_skus integer,
    analyzed_skus integer DEFAULT 0,
    failed_skus integer DEFAULT 0,
    mode character varying(20),
    agent_version character varying(20),
    recommendations_generated integer DEFAULT 0,
    alerts_generated integer DEFAULT 0,
    error_message text,
    triggered_by character varying(50) DEFAULT 'manual'::character varying,
    event_type character varying(50),
    metadata jsonb,
    CONSTRAINT inventory_ai_runs_mode_check CHECK (((mode)::text = ANY ((ARRAY['SHADOW'::character varying, 'ACTIVE'::character varying])::text[]))),
    CONSTRAINT inventory_ai_runs_status_check CHECK (((status)::text = ANY ((ARRAY['RUNNING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.inventory_ai_runs OWNER TO postgres;

--
-- Name: inventory_alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_alerts (
    alert_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100),
    alert_type character varying(30) NOT NULL,
    severity character varying(20) NOT NULL,
    alert_title character varying(200) NOT NULL,
    alert_message text NOT NULL,
    action_required text,
    estimated_revenue_impact numeric(12,2),
    days_until_stockout numeric(8,2),
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    acknowledged_at timestamp without time zone,
    acknowledged_by character varying(100),
    resolved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    CONSTRAINT inventory_alerts_alert_type_check CHECK (((alert_type)::text = ANY ((ARRAY['STOCKOUT_IMMINENT'::character varying, 'STOCKOUT_OCCURRED'::character varying, 'OVERSTOCK'::character varying, 'SLOW_MOVING'::character varying, 'DEMAND_SPIKE'::character varying, 'PRICE_ANOMALY'::character varying, 'EXPIRY_APPROACHING'::character varying])::text[]))),
    CONSTRAINT inventory_alerts_severity_check CHECK (((severity)::text = ANY ((ARRAY['INFO'::character varying, 'WARNING'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT inventory_alerts_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'ACKNOWLEDGED'::character varying, 'RESOLVED'::character varying, 'DISMISSED'::character varying])::text[])))
);


ALTER TABLE public.inventory_alerts OWNER TO postgres;

--
-- Name: inventory_recommendations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_recommendations (
    recommendation_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    recommendation_type character varying(30) NOT NULL,
    current_stock numeric(12,3) NOT NULL,
    recommended_order_quantity numeric(12,3),
    reorder_point numeric(12,3),
    safety_stock numeric(12,3),
    ads_7 numeric(12,3),
    ads_30 numeric(12,3),
    weighted_ads numeric(12,3),
    demand_variability numeric(12,3),
    days_of_cover numeric(8,2),
    risk_state character varying(20),
    stockout_probability numeric(3,2),
    potential_lost_revenue numeric(12,2),
    confidence_score numeric(3,2),
    confidence_label character varying(20),
    reasoning_factors jsonb,
    edge_case_flags jsonb,
    generated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    valid_until timestamp without time zone,
    ai_agent_version character varying(20),
    mode character varying(20) DEFAULT 'SHADOW'::character varying,
    recommended_action character varying(50),
    reasoning_text text,
    action_priority character varying(20),
    feedback_status character varying(20) DEFAULT 'PENDING'::character varying,
    feedback_reason text,
    processed_at timestamp without time zone,
    recommendation_confidence numeric(3,2),
    realized_outcome character varying(50),
    financial_impact_cash numeric(12,2) DEFAULT 0,
    replenishment_detected_at timestamp without time zone,
    initial_stock_at_feedback numeric(12,3),
    deadstock_risk_level character varying(20),
    missed_sales_opportunity numeric(12,2),
    stockout_days_count integer,
    insight_category character varying(50),
    outcome_check_count integer DEFAULT 0,
    last_outcome_check timestamp without time zone,
    behavior_summary jsonb,
    protection_window integer,
    coefficient_of_variation numeric(10,4),
    action_bucket character varying(50),
    reasoning_status character varying(20) DEFAULT 'COMPLETE'::character varying,
    ads_14 numeric(10,2),
    ads_pending_recalc boolean DEFAULT false,
    ads_freeze_until date,
    CONSTRAINT inventory_recommendations_confidence_label_check CHECK (((confidence_label)::text = ANY ((ARRAY['HIGH'::character varying, 'MEDIUM'::character varying, 'LOW'::character varying])::text[]))),
    CONSTRAINT inventory_recommendations_confidence_score_check CHECK (((confidence_score >= (0)::numeric) AND (confidence_score <= (1)::numeric))),
    CONSTRAINT inventory_recommendations_feedback_status_check CHECK (((feedback_status)::text = ANY ((ARRAY['PENDING'::character varying, 'ACCEPTED'::character varying, 'IGNORED'::character varying, 'EXPIRED'::character varying, 'OBSOLETE'::character varying, 'SUPERSEDED'::character varying, 'UPDATED'::character varying])::text[]))),
    CONSTRAINT inventory_recommendations_mode_check CHECK (((mode)::text = ANY ((ARRAY['SHADOW'::character varying, 'ACTIVE'::character varying])::text[]))),
    CONSTRAINT inventory_recommendations_reasoning_status_check CHECK (((reasoning_status)::text = ANY ((ARRAY['COMPLETE'::character varying, 'FALLBACK_USED'::character varying, 'NOT_REQUESTED'::character varying])::text[]))),
    CONSTRAINT inventory_recommendations_recommendation_type_check CHECK (((recommendation_type)::text = ANY ((ARRAY['BUY_MORE'::character varying, 'BUY_LESS'::character varying, 'MONITOR'::character varying, 'REORDER_NOW'::character varying, 'REDUCE_ORDER'::character varying, 'NO_ACTION'::character varying])::text[]))),
    CONSTRAINT inventory_recommendations_risk_state_check CHECK (((risk_state)::text = ANY ((ARRAY['SAFE'::character varying, 'WATCH'::character varying, 'RISK'::character varying, 'CRITICAL'::character varying])::text[])))
);


ALTER TABLE public.inventory_recommendations OWNER TO postgres;

--
-- Name: inventory_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_snapshots (
    store_id text NOT NULL,
    store_item_id text NOT NULL,
    snapshot_date date NOT NULL,
    quantity_on_hand numeric,
    cost_price numeric,
    selling_price numeric,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inventory_snapshots OWNER TO postgres;

--
-- Name: mapping_audit_trail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mapping_audit_trail (
    audit_id uuid DEFAULT gen_random_uuid() NOT NULL,
    onboarding_batch_id uuid NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    raw_product_name character varying(500),
    raw_quantity character varying(100),
    raw_price character varying(100),
    normalization_steps jsonb,
    brand_extraction_method character varying(50),
    brand_candidates jsonb,
    brand_selected character varying(100),
    brand_confidence numeric(3,2),
    mapping_candidates jsonb,
    mapping_selected character varying(50),
    mapping_confidence numeric(3,2),
    mapping_method character varying(50),
    flags jsonb,
    catalog_version character varying(20),
    decided_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.mapping_audit_trail OWNER TO postgres;

--
-- Name: mapping_change_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mapping_change_requests (
    request_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    old_category character varying(50),
    new_category character varying(50),
    old_confidence numeric(3,2),
    new_confidence numeric(3,2),
    change_reason text,
    requires_approval boolean DEFAULT true,
    status character varying(20) DEFAULT 'pending'::character varying,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    requested_by character varying(100),
    approved_by character varying(100),
    approved_at timestamp without time zone,
    CONSTRAINT mapping_change_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.mapping_change_requests OWNER TO postgres;

--
-- Name: onboarding_batch_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.onboarding_batch_status (
    batch_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_name character varying(200),
    store_location character varying(100),
    store_type character varying(50),
    batch_type character varying(30) DEFAULT 'full_onboarding'::character varying,
    parent_batch_id uuid,
    source_catalog_version character varying(20),
    target_catalog_version character varying(20),
    onboarding_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    processing_time_ms integer,
    status character varying(20) DEFAULT 'pending'::character varying,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    failed_at timestamp with time zone,
    error_message text,
    total_items integer,
    items_processed integer DEFAULT 0,
    items_mapped integer DEFAULT 0,
    items_category_only integer DEFAULT 0,
    items_failed integer DEFAULT 0,
    quality_score integer,
    quality_grade character varying(20),
    error_report jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT onboarding_batch_status_batch_type_check CHECK (((batch_type)::text = ANY ((ARRAY['full_onboarding'::character varying, 'incremental_update'::character varying, 'catalog_migration'::character varying, 'correction'::character varying])::text[]))),
    CONSTRAINT onboarding_batch_status_quality_score_check CHECK (((quality_score >= 0) AND (quality_score <= 100))),
    CONSTRAINT onboarding_batch_status_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'completed'::character varying, 'failed'::character varying, 'needs_review'::character varying])::text[])))
);


ALTER TABLE public.onboarding_batch_status OWNER TO postgres;

--
-- Name: onboarding_handoff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.onboarding_handoff (
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    quantity_on_hand numeric(12,3),
    unit character varying(20),
    selling_price numeric(10,2),
    cost_price numeric(10,2),
    as_of_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    source character varying(50) NOT NULL,
    onboarding_batch_id uuid NOT NULL,
    transaction_type character varying(20) DEFAULT 'ADJUSTMENT'::character varying,
    transaction_id character varying(100),
    CONSTRAINT onboarding_handoff_source_check CHECK (((source)::text = ANY ((ARRAY['full_onboarding'::character varying, 'incremental_update'::character varying, 'manual_entry'::character varying, 'manual_upload'::character varying, 'file_upload'::character varying, 'csv_import'::character varying, 'system_event'::character varying])::text[]))),
    CONSTRAINT onboarding_handoff_transaction_type_check CHECK (((transaction_type)::text = ANY ((ARRAY['STOCK_TAKE'::character varying, 'ADJUSTMENT'::character varying, 'RESTOCK'::character varying, 'SALE'::character varying, 'RETURN'::character varying, 'DAMAGE'::character varying, 'EXPIRY'::character varying, 'BULK_SALE_IMPORT'::character varying, 'BULK_RETURN_IMPORT'::character varying])::text[])))
);


ALTER TABLE public.onboarding_handoff OWNER TO postgres;

--
-- Name: operational_audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.operational_audit_log (
    log_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50),
    user_id uuid,
    api_key_id uuid,
    action_type character varying(50) NOT NULL,
    entity_type character varying(50),
    entity_id character varying(255),
    metadata jsonb,
    status character varying(20),
    error_message text,
    ip_address inet,
    user_agent text,
    occurred_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT operational_audit_log_status_check CHECK (((status)::text = ANY ((ARRAY['success'::character varying, 'failure'::character varying, 'pending'::character varying])::text[])))
);


ALTER TABLE public.operational_audit_log OWNER TO postgres;

--
-- Name: parsing_decisions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parsing_decisions (
    decision_id uuid DEFAULT gen_random_uuid() NOT NULL,
    upload_id uuid NOT NULL,
    detected_columns jsonb NOT NULL,
    column_confidence jsonb,
    normalization_rules jsonb,
    total_rows integer,
    rows_parsed integer,
    rows_failed integer,
    parsing_errors jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.parsing_decisions OWNER TO postgres;

--
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_order_items (
    po_item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    po_id uuid NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    quantity_ordered numeric(12,3) NOT NULL,
    quantity_received numeric(12,3),
    unit_cost numeric(10,2) NOT NULL
);


ALTER TABLE public.purchase_order_items OWNER TO postgres;

--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_orders (
    po_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    po_number character varying(100),
    supplier_name character varying(200),
    order_date date NOT NULL,
    expected_delivery_date date,
    received_date date,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT purchase_orders_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'received'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.purchase_orders OWNER TO postgres;

--
-- Name: quality_recommendations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quality_recommendations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    batch_id uuid NOT NULL,
    priority character varying(20),
    issue character varying(500),
    impact character varying(500),
    action character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT quality_recommendations_priority_check CHECK (((priority)::text = ANY ((ARRAY['HIGH'::character varying, 'MEDIUM'::character varying, 'LOW'::character varying])::text[])))
);


ALTER TABLE public.quality_recommendations OWNER TO postgres;

--
-- Name: raw_upload_archive; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_upload_archive (
    upload_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    original_filename character varying(500),
    file_size_bytes bigint,
    file_format character varying(20),
    upload_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    uploaded_by character varying(100),
    blob_storage_path character varying(1000) NOT NULL,
    blob_storage_region character varying(50),
    blob_checksum character varying(64),
    processing_status character varying(20) DEFAULT 'pending'::character varying,
    processed_at timestamp without time zone,
    onboarding_batch_id uuid,
    retention_until date,
    file_content_hash character varying(64),
    CONSTRAINT raw_upload_archive_file_format_check CHECK (((file_format)::text = ANY ((ARRAY['csv'::character varying, 'xlsx'::character varying, 'xls'::character varying, 'manual'::character varying])::text[]))),
    CONSTRAINT raw_upload_archive_processing_status_check CHECK (((processing_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'completed'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.raw_upload_archive OWNER TO postgres;

--
-- Name: regional_category_signals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.regional_category_signals (
    signal_id uuid DEFAULT gen_random_uuid() NOT NULL,
    region_id character varying(100) NOT NULL,
    category_name character varying(100) NOT NULL,
    signal_type character varying(50) NOT NULL,
    magnitude numeric(5,2),
    evidence_count integer,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.regional_category_signals OWNER TO postgres;

--
-- Name: sales_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales_transactions (
    transaction_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    transaction_date date NOT NULL,
    transaction_timestamp timestamp without time zone NOT NULL,
    quantity_sold numeric(12,3) NOT NULL,
    selling_price numeric(10,2) NOT NULL,
    revenue numeric(12,2) NOT NULL,
    source_sync_run_id uuid,
    source_transaction_id character varying(100)
);


ALTER TABLE public.sales_transactions OWNER TO postgres;

--
-- Name: store_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_settings (
    store_id character varying(50) NOT NULL,
    store_name character varying(200) NOT NULL,
    store_type character varying(50),
    timezone character varying(50) DEFAULT 'Asia/Kolkata'::character varying,
    sync_enabled boolean DEFAULT true,
    sync_frequency_hours integer DEFAULT 1,
    last_sync_at timestamp without time zone,
    ai_mode character varying(20) DEFAULT 'ACTIVE'::character varying,
    llm_enabled boolean DEFAULT true,
    max_daily_uploads integer DEFAULT 10,
    max_sku_count integer DEFAULT 10000,
    notification_email character varying(255),
    alert_on_stockout boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    region_id character varying(100) DEFAULT 'Bangalore'::character varying,
    store_location character varying(200),
    CONSTRAINT store_settings_ai_mode_check CHECK (((ai_mode)::text = ANY ((ARRAY['SHADOW'::character varying, 'ACTIVE'::character varying, 'DISABLED'::character varying])::text[])))
);


ALTER TABLE public.store_settings OWNER TO postgres;

--
-- Name: store_sku_registry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_sku_registry (
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    normalized_product_name character varying(500) NOT NULL,
    brand character varying(100),
    master_category_id character varying(50) NOT NULL,
    master_category_name character varying(200),
    master_subcategory_id character varying(50),
    normalized_unit character varying(20) NOT NULL,
    pack_size numeric(12,3),
    pack_unit character varying(20),
    mapping_confidence numeric(3,2) NOT NULL,
    mapping_method character varying(50) NOT NULL,
    catalog_version character varying(20) DEFAULT 'v1.0'::character varying NOT NULL,
    embedded_quantity numeric(12,3),
    embedded_unit character varying(20),
    barcode character varying(50),
    status character varying(20) DEFAULT 'active'::character varying,
    analytics_mode character varying(20) DEFAULT 'full'::character varying,
    first_onboarded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_verified_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deprecated_at timestamp without time zone,
    manually_corrected boolean DEFAULT false,
    corrected_by character varying(100),
    corrected_at timestamp without time zone,
    correction_reason text,
    original_product_name character varying(500),
    onboarding_batch_id uuid NOT NULL,
    shelf_life_days integer,
    supplier_id character varying(100),
    moq numeric(12,3) DEFAULT 1,
    case_pack_size numeric(12,3) DEFAULT 1,
    velocity_class character varying(20),
    predictability_class character varying(20),
    business_role character varying(20),
    risk_class character varying(20),
    cost_price numeric(12,2),
    selling_price numeric(12,2),
    CONSTRAINT store_sku_registry_analytics_mode_check CHECK (((analytics_mode)::text = ANY ((ARRAY['full'::character varying, 'category_aggregate'::character varying, 'disabled'::character varying])::text[]))),
    CONSTRAINT store_sku_registry_mapping_confidence_check CHECK (((mapping_confidence >= (0)::numeric) AND (mapping_confidence <= (1)::numeric))),
    CONSTRAINT store_sku_registry_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'deprecated'::character varying, 'needs_review'::character varying, 'merged'::character varying])::text[])))
);


ALTER TABLE public.store_sku_registry OWNER TO postgres;

--
-- Name: store_sync_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_sync_config (
    store_id character varying(50) NOT NULL,
    sync_mode character varying(20) DEFAULT 'MANUAL'::character varying,
    sync_frequency character varying(20) DEFAULT 'MANUAL'::character varying,
    csv_source_path character varying(500),
    webhook_url character varying(500),
    webhook_secret character varying(100),
    last_sync_at timestamp without time zone,
    next_sync_at timestamp without time zone,
    sync_enabled boolean DEFAULT true,
    auto_onboard_unknown_skus boolean DEFAULT false,
    notification_email character varying(200),
    notification_enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT store_sync_config_sync_frequency_check CHECK (((sync_frequency)::text = ANY ((ARRAY['REALTIME'::character varying, 'HOURLY'::character varying, 'DAILY'::character varying, 'WEEKLY'::character varying])::text[]))),
    CONSTRAINT store_sync_config_sync_mode_check CHECK (((sync_mode)::text = ANY ((ARRAY['MANUAL'::character varying, 'CSV_PULL'::character varying, 'LOCAL_AGENT'::character varying, 'WEBHOOK'::character varying])::text[])))
);


ALTER TABLE public.store_sync_config OWNER TO postgres;

--
-- Name: sync_run_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sync_run_log (
    sync_run_id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    sync_type character varying(30),
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    status character varying(20),
    records_processed integer DEFAULT 0,
    records_success integer DEFAULT 0,
    records_failed integer DEFAULT 0,
    unknown_skus_detected integer DEFAULT 0,
    error_message text,
    data_source character varying(100),
    triggered_by character varying(50) DEFAULT 'manual'::character varying,
    CONSTRAINT sync_run_log_status_check CHECK (((status)::text = ANY ((ARRAY['running'::character varying, 'completed'::character varying, 'failed'::character varying, 'partial'::character varying])::text[]))),
    CONSTRAINT sync_run_log_sync_type_check CHECK (((sync_type)::text = ANY ((ARRAY['manual_upload'::character varying, 'scheduled_csv_pull'::character varying, 'webhook'::character varying, 'local_agent'::character varying])::text[])))
);


ALTER TABLE public.sync_run_log OWNER TO postgres;

--
-- Name: system_intelligence_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_intelligence_config (
    key character varying(50) NOT NULL,
    value jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_intelligence_config OWNER TO postgres;

--
-- Name: unknown_sku_escalation_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unknown_sku_escalation_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    product_name character varying(500),
    raw_data jsonb,
    detected_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    escalation_status character varying(20) DEFAULT 'pending'::character varying,
    onboarding_batch_id uuid,
    resolved_at timestamp without time zone,
    notified_owner boolean DEFAULT false,
    notification_sent_at timestamp without time zone,
    CONSTRAINT unknown_sku_escalation_queue_escalation_status_check CHECK (((escalation_status)::text = ANY ((ARRAY['pending'::character varying, 'onboarding_triggered'::character varying, 'onboarded'::character varying, 'ignored'::character varying])::text[])))
);


ALTER TABLE public.unknown_sku_escalation_queue OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    store_id character varying(50) NOT NULL,
    role character varying(20) DEFAULT 'owner'::character varying NOT NULL,
    is_active boolean DEFAULT true,
    email_verified boolean DEFAULT false,
    last_login_at timestamp without time zone,
    login_attempts integer DEFAULT 0,
    locked_until timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by uuid,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    full_name character varying(200),
    phone character varying(20),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['owner'::character varying, 'staff'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: v_active_skus; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_active_skus AS
 SELECT store_id,
    store_item_id,
    normalized_product_name,
    brand,
    master_category_id,
    master_category_name,
    mapping_confidence,
    mapping_method,
    status,
    first_onboarded_at,
    last_verified_at,
    manually_corrected
   FROM public.store_sku_registry sr
  WHERE ((status)::text = 'active'::text);


ALTER VIEW public.v_active_skus OWNER TO postgres;

--
-- Name: v_items_needing_review; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_items_needing_review AS
 SELECT store_id,
    store_item_id,
    normalized_product_name,
    master_category_name,
    mapping_confidence,
    first_onboarded_at
   FROM public.store_sku_registry sr
  WHERE (((status)::text = 'needs_review'::text) OR (mapping_confidence < 0.65))
  ORDER BY mapping_confidence;


ALTER VIEW public.v_items_needing_review OWNER TO postgres;

--
-- Name: v_latest_inventory; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_latest_inventory AS
 SELECT DISTINCT ON (store_id, store_item_id) store_id,
    store_item_id,
    quantity_on_hand,
    unit,
    selling_price,
    cost_price,
    as_of_date AS as_of_timestamp,
    as_of_date
   FROM public.onboarding_handoff
  ORDER BY store_id, store_item_id, as_of_date DESC;


ALTER VIEW public.v_latest_inventory OWNER TO postgres;

--
-- Name: v_recent_batches; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_recent_batches AS
 SELECT batch_id,
    store_id,
    store_name,
    batch_type,
    onboarding_date,
    status,
    total_items,
    items_mapped,
    quality_score,
    quality_grade,
    processing_time_ms
   FROM public.onboarding_batch_status
  ORDER BY onboarding_date DESC
 LIMIT 100;


ALTER VIEW public.v_recent_batches OWNER TO postgres;

--
-- Name: v_sku_outcome_history; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_sku_outcome_history AS
 SELECT store_id,
    store_item_id,
    count(*) AS total_decisions,
    count(
        CASE
            WHEN ((feedback_status)::text = 'ACCEPTED'::text) THEN 1
            ELSE NULL::integer
        END) AS accepted_count,
    count(
        CASE
            WHEN ((feedback_status)::text = 'IGNORED'::text) THEN 1
            ELSE NULL::integer
        END) AS ignored_count,
    count(
        CASE
            WHEN ((realized_outcome)::text = 'Opportunity Lost'::text) THEN 1
            ELSE NULL::integer
        END) AS verified_losses,
    count(
        CASE
            WHEN ((realized_outcome)::text = 'Opportunity Saved'::text) THEN 1
            ELSE NULL::integer
        END) AS verified_savings
   FROM public.inventory_recommendations
  WHERE ((feedback_status)::text = ANY ((ARRAY['ACCEPTED'::character varying, 'IGNORED'::character varying])::text[]))
  GROUP BY store_id, store_item_id;


ALTER VIEW public.v_sku_outcome_history OWNER TO postgres;

--
-- Name: v_store_price_sensitivity; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_store_price_sensitivity AS
 WITH decision_prices AS (
         SELECT ir.store_id,
            ir.feedback_status,
            inv.cost_price,
                CASE
                    WHEN (inv.cost_price > (1000)::numeric) THEN 'HIGH'::text
                    WHEN (inv.cost_price > (500)::numeric) THEN 'MID'::text
                    ELSE 'LOW'::text
                END AS price_tier
           FROM (public.inventory_recommendations ir
             JOIN public.v_latest_inventory inv ON ((((ir.store_id)::text = (inv.store_id)::text) AND ((ir.store_item_id)::text = (inv.store_item_id)::text))))
          WHERE ((ir.feedback_status)::text = ANY ((ARRAY['ACCEPTED'::character varying, 'IGNORED'::character varying])::text[]))
        )
 SELECT store_id,
    price_tier,
    count(*) AS total_decisions,
    round((((count(
        CASE
            WHEN ((feedback_status)::text = 'IGNORED'::text) THEN 1
            ELSE NULL::integer
        END))::numeric * 100.0) / (count(*))::numeric), 2) AS ignore_rate_percent
   FROM decision_prices
  GROUP BY store_id, price_tier;


ALTER VIEW public.v_store_price_sensitivity OWNER TO postgres;

--
-- Name: validation_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.validation_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id character varying(50) NOT NULL,
    store_item_id character varying(100) NOT NULL,
    batch_id uuid NOT NULL,
    product_name character varying(500),
    suggested_category character varying(50),
    mapping_confidence numeric(3,2),
    flags jsonb,
    review_status character varying(20) DEFAULT 'pending'::character varying,
    reviewed_by character varying(100),
    reviewed_at timestamp without time zone,
    review_notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT validation_queue_review_status_check CHECK (((review_status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'corrected'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.validation_queue OWNER TO postgres;

--
-- Name: catalog_migration_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_migration_audit ALTER COLUMN id SET DEFAULT nextval('public.catalog_migration_audit_id_seq'::regclass);


--
-- Name: api_keys api_keys_key_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_key_hash_key UNIQUE (key_hash);


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (api_key_id);


--
-- Name: brand_registry brand_registry_brand_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brand_registry
    ADD CONSTRAINT brand_registry_brand_name_key UNIQUE (brand_name);


--
-- Name: brand_registry brand_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brand_registry
    ADD CONSTRAINT brand_registry_pkey PRIMARY KEY (brand_id);


--
-- Name: catalog_migration_audit catalog_migration_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_migration_audit
    ADD CONSTRAINT catalog_migration_audit_pkey PRIMARY KEY (id);


--
-- Name: catalog_version_log catalog_version_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_version_log
    ADD CONSTRAINT catalog_version_log_pkey PRIMARY KEY (version);


--
-- Name: incremental_delta_queue incremental_delta_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incremental_delta_queue
    ADD CONSTRAINT incremental_delta_queue_pkey PRIMARY KEY (id);


--
-- Name: inventory_ai_runs inventory_ai_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_ai_runs
    ADD CONSTRAINT inventory_ai_runs_pkey PRIMARY KEY (run_id);


--
-- Name: inventory_alerts inventory_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_alerts
    ADD CONSTRAINT inventory_alerts_pkey PRIMARY KEY (alert_id);


--
-- Name: inventory_recommendations inventory_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_recommendations
    ADD CONSTRAINT inventory_recommendations_pkey PRIMARY KEY (recommendation_id);


--
-- Name: inventory_snapshots inventory_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_snapshots
    ADD CONSTRAINT inventory_snapshots_pkey PRIMARY KEY (store_id, store_item_id, snapshot_date);


--
-- Name: mapping_audit_trail mapping_audit_trail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_audit_trail
    ADD CONSTRAINT mapping_audit_trail_pkey PRIMARY KEY (audit_id);


--
-- Name: mapping_change_requests mapping_change_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_change_requests
    ADD CONSTRAINT mapping_change_requests_pkey PRIMARY KEY (request_id);


--
-- Name: onboarding_batch_status onboarding_batch_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_batch_status
    ADD CONSTRAINT onboarding_batch_status_pkey PRIMARY KEY (batch_id);


--
-- Name: onboarding_handoff onboarding_handoff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_handoff
    ADD CONSTRAINT onboarding_handoff_pkey PRIMARY KEY (store_id, store_item_id, onboarding_batch_id);


--
-- Name: operational_audit_log operational_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operational_audit_log
    ADD CONSTRAINT operational_audit_log_pkey PRIMARY KEY (log_id);


--
-- Name: parsing_decisions parsing_decisions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsing_decisions
    ADD CONSTRAINT parsing_decisions_pkey PRIMARY KEY (decision_id);


--
-- Name: purchase_order_items purchase_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_pkey PRIMARY KEY (po_item_id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (po_id);


--
-- Name: purchase_orders purchase_orders_store_id_po_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_store_id_po_number_key UNIQUE (store_id, po_number);


--
-- Name: quality_recommendations quality_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_recommendations
    ADD CONSTRAINT quality_recommendations_pkey PRIMARY KEY (id);


--
-- Name: raw_upload_archive raw_upload_archive_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_upload_archive
    ADD CONSTRAINT raw_upload_archive_pkey PRIMARY KEY (upload_id);


--
-- Name: regional_category_signals regional_category_signals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.regional_category_signals
    ADD CONSTRAINT regional_category_signals_pkey PRIMARY KEY (signal_id);


--
-- Name: sales_transactions sales_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_transactions
    ADD CONSTRAINT sales_transactions_pkey PRIMARY KEY (transaction_id);


--
-- Name: sales_transactions sales_transactions_store_id_store_item_id_source_transactio_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_transactions
    ADD CONSTRAINT sales_transactions_store_id_store_item_id_source_transactio_key UNIQUE (store_id, store_item_id, source_transaction_id);


--
-- Name: store_settings store_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_settings
    ADD CONSTRAINT store_settings_pkey PRIMARY KEY (store_id);


--
-- Name: store_sku_registry store_sku_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_sku_registry
    ADD CONSTRAINT store_sku_registry_pkey PRIMARY KEY (store_id, store_item_id);


--
-- Name: store_sync_config store_sync_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_sync_config
    ADD CONSTRAINT store_sync_config_pkey PRIMARY KEY (store_id);


--
-- Name: sync_run_log sync_run_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_run_log
    ADD CONSTRAINT sync_run_log_pkey PRIMARY KEY (sync_run_id);


--
-- Name: system_intelligence_config system_intelligence_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_intelligence_config
    ADD CONSTRAINT system_intelligence_config_pkey PRIMARY KEY (key);


--
-- Name: unknown_sku_escalation_queue unknown_sku_escalation_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unknown_sku_escalation_queue
    ADD CONSTRAINT unknown_sku_escalation_queue_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: validation_queue validation_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.validation_queue
    ADD CONSTRAINT validation_queue_pkey PRIMARY KEY (id);


--
-- Name: idx_ai_runs_started; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_runs_started ON public.inventory_ai_runs USING btree (started_at DESC);


--
-- Name: idx_ai_runs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_runs_status ON public.inventory_ai_runs USING btree (status);


--
-- Name: idx_ai_runs_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_runs_store ON public.inventory_ai_runs USING btree (store_id);


--
-- Name: idx_alert_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_created ON public.inventory_alerts USING btree (created_at DESC);


--
-- Name: idx_alert_severity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_severity ON public.inventory_alerts USING btree (severity);


--
-- Name: idx_alert_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_sku ON public.inventory_alerts USING btree (store_id, store_item_id);


--
-- Name: idx_alert_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_status ON public.inventory_alerts USING btree (status);


--
-- Name: idx_alert_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_store ON public.inventory_alerts USING btree (store_id);


--
-- Name: idx_alert_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_type ON public.inventory_alerts USING btree (alert_type);


--
-- Name: idx_apikeys_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apikeys_active ON public.api_keys USING btree (is_active, expires_at);


--
-- Name: idx_apikeys_prefix; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apikeys_prefix ON public.api_keys USING btree (key_prefix);


--
-- Name: idx_apikeys_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apikeys_store ON public.api_keys USING btree (store_id);


--
-- Name: idx_audit_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_batch ON public.mapping_audit_trail USING btree (onboarding_batch_id);


--
-- Name: idx_audit_confidence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_confidence ON public.mapping_audit_trail USING btree (mapping_confidence);


--
-- Name: idx_audit_decided_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_decided_at ON public.mapping_audit_trail USING btree (decided_at);


--
-- Name: idx_audit_store_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_store_item ON public.mapping_audit_trail USING btree (store_id, store_item_id);


--
-- Name: idx_batch_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batch_date ON public.onboarding_batch_status USING btree (onboarding_date);


--
-- Name: idx_batch_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batch_status ON public.onboarding_batch_status USING btree (status);


--
-- Name: idx_batch_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batch_store ON public.onboarding_batch_status USING btree (store_id);


--
-- Name: idx_batch_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batch_type ON public.onboarding_batch_status USING btree (batch_type);


--
-- Name: idx_brand_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_brand_name ON public.brand_registry USING btree (brand_name);


--
-- Name: idx_brand_verified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_brand_verified ON public.brand_registry USING btree (is_verified);


--
-- Name: idx_catalog_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_catalog_active ON public.catalog_version_log USING btree (deprecated_at) WHERE (deprecated_at IS NULL);


--
-- Name: idx_catalog_released; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_catalog_released ON public.catalog_version_log USING btree (released_at);


--
-- Name: idx_change_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_change_status ON public.mapping_change_requests USING btree (status);


--
-- Name: idx_change_store_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_change_store_item ON public.mapping_change_requests USING btree (store_id, store_item_id);


--
-- Name: idx_delta_processed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delta_processed ON public.incremental_delta_queue USING btree (processed) WHERE (processed = false);


--
-- Name: idx_delta_queued; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delta_queued ON public.incremental_delta_queue USING btree (queued_at);


--
-- Name: idx_delta_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delta_store ON public.incremental_delta_queue USING btree (store_id);


--
-- Name: idx_escalation_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_escalation_status ON public.unknown_sku_escalation_queue USING btree (escalation_status);


--
-- Name: idx_escalation_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_escalation_store ON public.unknown_sku_escalation_queue USING btree (store_id);


--
-- Name: idx_handoff_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_handoff_batch ON public.onboarding_handoff USING btree (onboarding_batch_id);


--
-- Name: idx_handoff_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_handoff_date ON public.onboarding_handoff USING btree (as_of_date);


--
-- Name: idx_handoff_idempotency; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_handoff_idempotency ON public.onboarding_handoff USING btree (store_id, store_item_id, transaction_id) WHERE (transaction_id IS NOT NULL);


--
-- Name: idx_handoff_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_handoff_store ON public.onboarding_handoff USING btree (store_id);


--
-- Name: idx_handoff_transaction; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_handoff_transaction ON public.onboarding_handoff USING btree (store_id, store_item_id, transaction_id);


--
-- Name: idx_opaudit_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_opaudit_action ON public.operational_audit_log USING btree (action_type, occurred_at DESC);


--
-- Name: idx_opaudit_metadata; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_opaudit_metadata ON public.operational_audit_log USING gin (metadata);


--
-- Name: idx_opaudit_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_opaudit_status ON public.operational_audit_log USING btree (status) WHERE ((status)::text = 'failure'::text);


--
-- Name: idx_opaudit_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_opaudit_store ON public.operational_audit_log USING btree (store_id, occurred_at DESC);


--
-- Name: idx_opaudit_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_opaudit_user ON public.operational_audit_log USING btree (user_id, occurred_at DESC);


--
-- Name: idx_parsing_upload; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parsing_upload ON public.parsing_decisions USING btree (upload_id);


--
-- Name: idx_po_items_po; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_po_items_po ON public.purchase_order_items USING btree (po_id);


--
-- Name: idx_po_items_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_po_items_sku ON public.purchase_order_items USING btree (store_id, store_item_id);


--
-- Name: idx_po_order_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_po_order_date ON public.purchase_orders USING btree (order_date DESC);


--
-- Name: idx_po_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_po_status ON public.purchase_orders USING btree (status);


--
-- Name: idx_po_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_po_store ON public.purchase_orders USING btree (store_id);


--
-- Name: idx_radar_region_cat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_radar_region_cat ON public.regional_category_signals USING btree (region_id, category_name);


--
-- Name: idx_rec_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_batch ON public.quality_recommendations USING btree (batch_id);


--
-- Name: idx_rec_feedback_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_feedback_status ON public.inventory_recommendations USING btree (feedback_status);


--
-- Name: idx_rec_generated; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_generated ON public.inventory_recommendations USING btree (generated_at DESC);


--
-- Name: idx_rec_mode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_mode ON public.inventory_recommendations USING btree (mode);


--
-- Name: idx_rec_outcome_sync; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_outcome_sync ON public.inventory_recommendations USING btree (feedback_status, realized_outcome, processed_at) WHERE ((realized_outcome IS NULL) AND ((feedback_status)::text <> 'PENDING'::text));


--
-- Name: idx_rec_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_priority ON public.quality_recommendations USING btree (priority);


--
-- Name: idx_rec_risk; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_risk ON public.inventory_recommendations USING btree (risk_state);


--
-- Name: idx_rec_risk_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_risk_state ON public.inventory_recommendations USING btree (risk_state);


--
-- Name: idx_rec_store_gen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_store_gen ON public.inventory_recommendations USING btree (store_id, generated_at DESC);


--
-- Name: idx_rec_store_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_store_item ON public.inventory_recommendations USING btree (store_id, store_item_id);


--
-- Name: idx_rec_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rec_type ON public.inventory_recommendations USING btree (recommendation_type);


--
-- Name: idx_sales_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sales_date ON public.sales_transactions USING btree (transaction_date DESC);


--
-- Name: idx_sales_store_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sales_store_item ON public.sales_transactions USING btree (store_id, store_item_id);


--
-- Name: idx_sales_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sales_timestamp ON public.sales_transactions USING btree (transaction_timestamp DESC);


--
-- Name: idx_sku_barcode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_barcode ON public.store_sku_registry USING btree (barcode);


--
-- Name: idx_sku_brand; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_brand ON public.store_sku_registry USING btree (brand) WHERE (brand IS NOT NULL);


--
-- Name: idx_sku_catalog_version; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_catalog_version ON public.store_sku_registry USING btree (catalog_version, status);


--
-- Name: idx_sku_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_category ON public.store_sku_registry USING btree (master_category_id);


--
-- Name: idx_sku_confidence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_confidence ON public.store_sku_registry USING btree (mapping_confidence);


--
-- Name: idx_sku_manual; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_manual ON public.store_sku_registry USING btree (manually_corrected) WHERE (manually_corrected = true);


--
-- Name: idx_sku_onboarded_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_onboarded_at ON public.store_sku_registry USING btree (first_onboarded_at);


--
-- Name: idx_sku_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sku_status ON public.store_sku_registry USING btree (status);


--
-- Name: idx_sync_log_started; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sync_log_started ON public.sync_run_log USING btree (started_at DESC);


--
-- Name: idx_sync_log_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sync_log_store ON public.sync_run_log USING btree (store_id);


--
-- Name: idx_unique_file_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_unique_file_hash ON public.raw_upload_archive USING btree (store_id, file_content_hash) WHERE (file_content_hash IS NOT NULL);


--
-- Name: idx_unique_transaction; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_unique_transaction ON public.onboarding_handoff USING btree (store_id, store_item_id, transaction_id) WHERE (transaction_id IS NOT NULL);


--
-- Name: idx_upload_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_upload_status ON public.raw_upload_archive USING btree (processing_status);


--
-- Name: idx_upload_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_upload_store ON public.raw_upload_archive USING btree (store_id);


--
-- Name: idx_upload_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_upload_timestamp ON public.raw_upload_archive USING btree (upload_timestamp);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_active ON public.users USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_store ON public.users USING btree (store_id);


--
-- Name: idx_validation_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_validation_batch ON public.validation_queue USING btree (batch_id);


--
-- Name: idx_validation_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_validation_status ON public.validation_queue USING btree (review_status);


--
-- Name: idx_validation_store; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_validation_store ON public.validation_queue USING btree (store_id);


--
-- Name: store_sku_registry prevent_silent_remap_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER prevent_silent_remap_trigger BEFORE UPDATE ON public.store_sku_registry FOR EACH ROW EXECUTE FUNCTION public.prevent_silent_remap();


--
-- Name: onboarding_batch_status update_batch_status_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_batch_status_updated_at BEFORE UPDATE ON public.onboarding_batch_status FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: brand_registry update_brand_registry_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_brand_registry_updated_at BEFORE UPDATE ON public.brand_registry FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: api_keys api_keys_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id);


--
-- Name: api_keys api_keys_revoked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_revoked_by_fkey FOREIGN KEY (revoked_by) REFERENCES public.users(user_id);


--
-- Name: inventory_alerts inventory_alerts_store_id_store_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_alerts
    ADD CONSTRAINT inventory_alerts_store_id_store_item_id_fkey FOREIGN KEY (store_id, store_item_id) REFERENCES public.store_sku_registry(store_id, store_item_id) ON DELETE CASCADE;


--
-- Name: inventory_recommendations inventory_recommendations_store_id_store_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_recommendations
    ADD CONSTRAINT inventory_recommendations_store_id_store_item_id_fkey FOREIGN KEY (store_id, store_item_id) REFERENCES public.store_sku_registry(store_id, store_item_id) ON DELETE CASCADE;


--
-- Name: onboarding_batch_status onboarding_batch_status_parent_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_batch_status
    ADD CONSTRAINT onboarding_batch_status_parent_batch_id_fkey FOREIGN KEY (parent_batch_id) REFERENCES public.onboarding_batch_status(batch_id);


--
-- Name: onboarding_handoff onboarding_handoff_store_id_store_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_handoff
    ADD CONSTRAINT onboarding_handoff_store_id_store_item_id_fkey FOREIGN KEY (store_id, store_item_id) REFERENCES public.store_sku_registry(store_id, store_item_id) ON DELETE CASCADE;


--
-- Name: operational_audit_log operational_audit_log_api_key_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operational_audit_log
    ADD CONSTRAINT operational_audit_log_api_key_id_fkey FOREIGN KEY (api_key_id) REFERENCES public.api_keys(api_key_id);


--
-- Name: operational_audit_log operational_audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operational_audit_log
    ADD CONSTRAINT operational_audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: parsing_decisions parsing_decisions_upload_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsing_decisions
    ADD CONSTRAINT parsing_decisions_upload_id_fkey FOREIGN KEY (upload_id) REFERENCES public.raw_upload_archive(upload_id) ON DELETE CASCADE;


--
-- Name: purchase_order_items purchase_order_items_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_po_id_fkey FOREIGN KEY (po_id) REFERENCES public.purchase_orders(po_id) ON DELETE CASCADE;


--
-- Name: purchase_order_items purchase_order_items_store_id_store_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_store_id_store_item_id_fkey FOREIGN KEY (store_id, store_item_id) REFERENCES public.store_sku_registry(store_id, store_item_id) ON DELETE CASCADE;


--
-- Name: quality_recommendations quality_recommendations_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_recommendations
    ADD CONSTRAINT quality_recommendations_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.onboarding_batch_status(batch_id) ON DELETE CASCADE;


--
-- Name: sales_transactions sales_transactions_store_id_store_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_transactions
    ADD CONSTRAINT sales_transactions_store_id_store_item_id_fkey FOREIGN KEY (store_id, store_item_id) REFERENCES public.store_sku_registry(store_id, store_item_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict HKIY8DgGKMD4Ml9n66uqvP0xVUlmZ4Np6DHjMY4X4FRgXZCA3Qifug0BXDv71qF

